## **Ejercicios básicos de Phyton**

Alumna: Ana Saraí Dávila Martínez     
Matrícula: 1986209  
  Minería de datos- Grupo 02

### ***Ejercicio 1***

Realiza una variable con tu matricula y realiza una secuencia de imprimir con   tu nombre y tu matrícula concatenados.

In [403]:
matricula=1986209
name="Ana Saraí Dávila Martínez "
print(name+str(matricula))

Ana Saraí Dávila Martínez 1986209


### ***Ejercicio 2***

Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [253]:
x = float(input("Ingrese un número: ") )
y = float(input("Ingrese otro número: ") )


print("La suma de",x,"+",y,"es",x+y)
print("La resta de",x,"-",y,"es",x-y)
print("La multiplicación de",x,"*",y,"es",x*y)
print("La division es",x,"/",y,"es",x/y)
print("El resultado de",x,"**",y,"es",x**y)

Ingrese un número: 8
Ingrese otro número: 4
La suma de 8.0 + 4.0 es 12.0
La resta de 8.0 - 4.0 es 4.0
La multiplicación de 8.0 * 4.0 es 32.0
La division es 8.0 / 4.0 es 2.0
El resultado de 8.0 ** 4.0 es 4096.0

### ***Ejercicio 3***

Con loop while o for, realiza una lista de 10 números múltiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

+ Se usará for como ciclo for

In [220]:
mult3=[]
validar= False

for i in range (1, 31):

    validar = i % 3 == 0
    
    if (validar):
        mult3.append(i)

print (mult3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

+ Ahora, se procederá a crear una función de loop que sume los números

In [227]:
summD=0
for i in range(len(mult3)):
    summD=summD+mult3[i]
print("La suma de los elementos es",summD)

La suma de los elementos es 165

### ***Ejercicio 4***

+ Con una función de if else, revisar si un número es par o es impar.

In [231]:
num=int(input("Ingrese un número "))
if (num%2)==0:
   print(num, "es un número par")
else:
    print(num,"es un numero impar")

Ingrese un número 8
8 es un número par

+ Con una función de if else, revisar si un número es primo o no.

In [251]:
numm= int(input("Ingrese un número "))
cont = 0
for n in range(2,numm):
  if numm % n == 0:
    cont=cont+1
    print("un divisor de ",numm,"es", n)
 
if cont > 0 :
  print(numm,"no es un número primo" )
else:
  print(num, "es un número es primo")

Ingrese un número 8
un divisor de  8 es 2
un divisor de  8 es 4
8 no es un número primo

### ***Ejercicio 5***

Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [410]:
class calcular():
    def __init__(op,x,y):
        op.x=x
        op.y=y
    def suma(op):
        return op.x+op.y
    def res(op):
        return op.x-op.y
    def mul(op):
        return op.x*op.y
    def div(op):
        return op.x/op.y
    def exp(op):
        return op.x**op.y
    
x=int(input("Introduzca el primer número "))
y=int(input("Introduzca el segundo número "))
obj=calcular(x,y)
opcion=1
while opcion!=0:
    print("0. Salir")
    print("1. Sumar")
    print("2. Restar")
    print("3. Multiplication")
    print("4. Division")
    print("5. Exponente")
    opcion=int(input("Ingrese la operación aritmética que desea efectuar "))
    if opcion==0:
        print("Usted está saliendo")
        break
    elif opcion==1:
        print("La suma de ",x, "+",y,"es", obj.suma())
    elif opcion==2:
        print("La resta de",x, "-",y, "es",obj.res())
    elif opcion==3:
        print("La multiplicación de",x,"*",y,"es",obj.mul())
    elif opcion==4:
        print("La división de",x,"/",y,"es",obj.div())
    elif opcion==5:
        print("El resultado de",x,"**",y, "es",obj.exp())
    else:
        print("Error, por favor introduzca una opción valida")
 
 
print()
#Página que se ha usado como base https://stackoverflow.com/questions/40312645/python-creating-a-calculator-class

Introduzca el primer número 15
Introduzca el segundo número 12
0. Salir
1. Sumar
2. Restar
3. Multiplication
4. Division
5. Exponente
Ingrese la operación aritmética que desea efectuar 1
La suma de  15 + 12 es 27
0. Salir
1. Sumar
2. Restar
3. Multiplication
4. Division
5. Exponente
Ingrese la operación aritmética que desea efectuar 2
La resta de 15 - 12 es 3
0. Salir
1. Sumar
2. Restar
3. Multiplication
4. Division
5. Exponente
Ingrese la operación aritmética que desea efectuar 4
La división de 15 / 12 es 1.25
0. Salir
1. Sumar
2. Restar
3. Multiplication
4. Division
5. Exponente
Ingrese la operación aritmética que desea efectuar 5
El resultado de 15 ** 12 es 129746337890625
0. Salir
1. Sumar
2. Restar
3. Multiplication
4. Division
5. Exponente
Ingrese la operación aritmética que desea efectuar 0
Usted está saliendo

---
## **Ejercicios con estructuras básicas de Phyton**

### **Tuplas**

*Las tuplas son objetos iterativos, son inmutables y se identifican mediante parentesís*

+ Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [27]:
x=98.93 
tipo1=type(x)
print ("La variable es",x, "y es de tipo",tipo1)

y=751 
tipo2=type(y)
print("La variable es",y, "y es de tipo", tipo2)

IscodingFun=True 
tipo3=type(IscodingFun)
print("La variable es",IscodingFun,"y es de tipo",tipo3)

Complex=657+4j 
tipo4=type(Complex)
print("La variable es", Complex, "y es de tipo", tipo4)

La variable es 98.93 y es de tipo <class 'float'>
La variable es 751 y es de tipo <class 'int'>
La variable es True y es de tipo <class 'bool'>
La variable es (657+4j) y es de tipo <class 'complex'>

+ Crear una tupla con valores enteros imprimir el primer y último valor.

In [416]:
T1=(1,1,2,3,5,8,13,21)
first=T1[0] 
last=T1[7]
print("El primer valor de la tupla es",first, "y el último valor es",last)
#Verificar si existe una variable dentro de la tupla
if 13 in T1:
    print("La variable 13 existe en la tupla")
else:
    print("La variable 13 no existe en la tupla")

El primer valor de la tupla es 1 y el último valor es 21
La variable 13 existe en la tupla

+ Añadir 3 valores de string a la tupla.

In [30]:
T1=T1+("data","mining","class")
print("La tupla modificada es:" ,T1)

La tupla modificada es: (1, 1, 2, 3, 5, 8, 13, 21, 'data', 'mining', 'class')

+ Verificar si una variable existe dentro de la tupla.

In [417]:
x=int(input("Introduzca el número que desee verificar si está en la tupla: "))
if x in T1:
    print("La variable", x, "existe en la tupla")
else:
    print("La variable", x, "no existe en la tupla")

Introduzca el número que desee verificar si está en la tupla: 13
La variable 13 existe en la tupla

### **Listas**

*Las listas incluyen elementos de varios tipos, son parecidas a las tuplas, pero son mutables, es decir se puede agregar o eliminar elementos*

+ Crear una lista con 40 elementos aleatorios enteros.

In [368]:
import random

n=40
RandomList = [random.randint(0,1000) for _ in range(n)]
print(RandomList) 
#Basado en la página https://es.stackoverflow.com/questions/124063/crear-una-lista-de-numeros-aleatorios-en-python

[970, 518, 482, 869, 458, 597, 595, 520, 741, 719, 360, 948, 499, 59, 258, 690, 40, 588, 713, 988, 683, 418, 318, 77, 29, 349, 113, 503, 404, 174, 716, 220, 833, 363, 695, 928, 904, 685, 978, 991]

+ Con una funcion (def) crear dos listas nuevas a partir de la lista creada por números aleatorios, en la cual en una estén los elementos pares, y en la otra los elementos impares

In [369]:
def validar(RandomList):
    pair=[]
    odd=[]
    for i in range(len(RandomList)):
        if RandomList[i]%2==0:
            pair.append(RandomList[i])
        else:
            odd.append(RandomList[i])
    return pair,odd

print("La lista de los elementos pares es ",pair,"\n")
print("La lista de los elementos impares es",odd)

La lista de los elementos pares es  [970, 932, 886, 854, 836, 820, 808, 806, 652, 638, 620, 540, 504, 462, 448, 426, 318, 286, 284, 236, 46, 8]

La lista de los elementos impares es [23, 85, 87, 137, 251, 273, 423, 515, 529, 541, 635, 687, 701, 719, 795, 907, 971, 991]

+ Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [370]:
numPair=len(pair)
numOdd=len(odd)
print("La longitud de la lista de números pares es",numPair,"\n")
print("La longitud de la lista de números impares es",numPair)

La longitud de la lista de números pares es 22

La longitud de la lista de números impares es 22

+ Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [371]:
pair.sort(reverse=True)
print("La lista ordenada de números pares de mayor a menor es", pair,"\n")
odd.sort()
print("La lista ordenada de números impares de menor a mayor es",odd)

La lista ordenada de números pares de mayor a menor es [970, 932, 886, 854, 836, 820, 808, 806, 652, 638, 620, 540, 504, 462, 448, 426, 318, 286, 284, 236, 46, 8]

La lista ordenada de números impares de menor a mayor es [23, 85, 87, 137, 251, 273, 423, 515, 529, 541, 635, 687, 701, 719, 795, 907, 971, 991]

Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

Las funciones que se usarán son:
+ append()
+ insert()
+ remove()
+ pop()
+ extend()

### *append()*
*Agrega elementos a la lista*

In [372]:
RandomList.append("science")
print("Con la función append se imprime la lista \n",RandomList)

Con la función append se imprime la lista
 [970, 518, 482, 869, 458, 597, 595, 520, 741, 719, 360, 948, 499, 59, 258, 690, 40, 588, 713, 988, 683, 418, 318, 77, 29, 349, 113, 503, 404, 174, 716, 220, 833, 363, 695, 928, 904, 685, 978, 991, 'science']

### insert()
*Agregar un item a una especifica locación en la lista*

In [373]:
T3=(64,11,26,300)
RandomList.insert(1,T3)
print("La nueva lista es: \n",RandomList)

La nueva lista es:
 [970, (64, 11, 26, 300), 518, 482, 869, 458, 597, 595, 520, 741, 719, 360, 948, 499, 59, 258, 690, 40, 588, 713, 988, 683, 418, 318, 77, 29, 349, 113, 503, 404, 174, 716, 220, 833, 363, 695, 928, 904, 685, 978, 991, 'science']

### remove ()
*Remueve un elemento de una especifica locación en la lista*

In [374]:
RandomList.remove("science")
print("La lista actualizada es \n",RandomList)

La lista actualizada es
 [970, (64, 11, 26, 300), 518, 482, 869, 458, 597, 595, 520, 741, 719, 360, 948, 499, 59, 258, 690, 40, 588, 713, 988, 683, 418, 318, 77, 29, 349, 113, 503, 404, 174, 716, 220, 833, 363, 695, 928, 904, 685, 978, 991]

### pop()
*Remueve un elementos de una especifica locación en la lista*

In [375]:
RandomList.pop(-3)
print("La lista sin el antepenúltimo elemento es",RandomList)

La lista sin el antepenúltimo elemento es [970, (64, 11, 26, 300), 518, 482, 869, 458, 597, 595, 520, 741, 719, 360, 948, 499, 59, 258, 690, 40, 588, 713, 988, 683, 418, 318, 77, 29, 349, 113, 503, 404, 174, 716, 220, 833, 363, 695, 928, 904, 978, 991]

### extend()
*Combina dos listas*

In [376]:
Agregar=[76,423,64575,"Data"]
RandomList.extend(Agregar)
print("La lista actualizada es \n",RandomList)

La lista actualizada es
 [970, (64, 11, 26, 300), 518, 482, 869, 458, 597, 595, 520, 741, 719, 360, 948, 499, 59, 258, 690, 40, 588, 713, 988, 683, 418, 318, 77, 29, 349, 113, 503, 404, 174, 716, 220, 833, 363, 695, 928, 904, 978, 991, 76, 423, 64575, 'Data']

### **Diccionarios**

*Los diccionarios son estructuras de datos, almacenan pares de clave-valor, no se pueden ordenar y son mutables.*

+ Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [377]:
dict1={'Milena':20,'Jose':22,'Diana':39,'Julian':18,'Marco':31,'Jessica':55}
dict1

{'Milena': 20,
 'Jose': 22,
 'Diana': 39,
 'Julian': 18,
 'Marco': 31,
 'Jessica': 55}

+ Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [55]:
Orden=sorted(dict1.values())
print("La lista de las edades de menor a mayor es:",Orden)

La lista de las edades de menor a mayor es: [18, 20, 22, 31, 39, 55]

+ Usando el diccionario y un loop, imprimir solo los nombres.

In [56]:
#Fuente auxiliar:http://elclubdelautodidacta.es/wp/2012/08/python-recorriendo-un-diccionario-de-principio-a-fin/
for dict1 in dict1:    
    print(dict1)

Milena
Jose
Diana
Julian
Marco
Jessica

+ Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [62]:
dict1['Denisse']=19
dict1['Abril']=5
dict1['Miriam']=45
print("El nuevo diccionario es:",dict1)

El nuevo diccionario es: {'Milena': 20, 'Jose': 22, 'Diana': 39, 'Julian': 18, 'Marco': 31, 'Jessica': 55, 'Denisse': 19, 'Abril': 5, 'Miriam': 45}

## **Sets**

*Los sets son estructuras que contienen articulos no duplicados y son inmutables*

+ Crea un set con 100 números aleatorios enteros del 1 al 25.

In [386]:
import random
set1=set()
while len(set1) < 25:
    set1.add((random.randint(0,100)))
print(set1)

{1, 6, 9, 17, 26, 27, 30, 36, 48, 49, 51, 63, 65, 66, 70, 72, 73, 75, 80, 83, 84, 90, 92, 93, 98}

+ Comprueba la longitud de tu set.

In [387]:
print(len(set1))

25

+ Crea una lista de 5 números aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [388]:
import random
lista1=list(random.sample(range(1,11), 5))
lista1

[4, 1, 9, 7, 3]

In [400]:
for i in range(len(lista1)):
    
    if lista1[i] in set1:
        z=lista1[i]
        print("El elemento",z, "y si aparece en el set inicial")
    else:
        z=lista1[i]
        print("El elemento",z, "y NO aparece en el set inicial")

El elemento 4 y NO aparece en el set inicial
El elemento 1 y si aparece en el set inicial
El elemento 9 y si aparece en el set inicial
El elemento 7 y NO aparece en el set inicial
El elemento 3 y NO aparece en el set inicial

In [415]:
# Libro que se ha usado como auxiliar es "Phyton for data Mining Quick Syntax Reference" de Valentina-Porcu